@model _23DH112330_MyStore.Models.ViewModel.ProductSearchVM
@using PagedList.Mvc
<head>
    <style>
        img {
            height: 100px;
            max-width: 100px;
        }
    </style>
</head>
@if (Model.Products != null && Model.Products.Any())
{
<h2 class="bg-success">DANH SÁCH SẢN PHẨM</h2>

<table class="table bg-info">
    <tr>
        <th class="bg-success col-md-2">Hình ảnh</th>
        <th class="bg-success col-md-3">Tên sản phẩm</th>
        <th class="bg-success col-md-1">Đơn giá</th>
        <th class="bg-success col-md-1">Số lượng</th>
        <th class="bg-success col-md-1">Đã bán</th>
        <th class="bg-success col-md-2">Danh mục</th>
        <th class="bg-success col-md-4"></th>
    </tr>

    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => product.ProductImage)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Sold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Category.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Chi tiết", "Details", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Xóa", "Delete", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
            </td>
        </tr>
    }

</table>
 <div class="pagination-container">
     @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { page, searchTerm = Model.SearchTerm,
    minPrice = Model.MinPrice, maxPrice = Model.MaxPrice, sortOrder = Model.SortOrder}))
 </div>
}
else
            {
                <p>Không tìm được sản phẩm nào phù hợp</p>
            }
<p>
    @Html.ActionLink("Thêm Mới", "Create", null, new { @class = "btn btn-primary" })
</p>
