@model _23DH112330_MyStore.Models.ViewModel.Cart
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<style>
    .grid_column-3 {
        padding-left: 12px;
        padding-right: 12px;
        width: 28%;
    }

    .grid_column-5 {
        padding-left: 12px;
        padding-right: 12px;
        width: 41.6666%;
    }

    .grid_column-4 {
        padding-left: 12px;
        padding-right: 12px;
        width: 30.3333%;
    }

    .grid_column-7 {
        padding-left: 12px;
        padding-right: 12px;
        width: 70%;
    }

    .product-preview {
        background-color: white;
        padding: 16px;
        border-radius: 8px;
        margin: 10px 0;
    }

    .product-preview__img {
        padding-top: 100%;
        background-size: contain;
        border-radius: 8px;
    }

    h3 {
        margin-top: 0;
    }

    .category__heading-detail {
        margin-top: -15px;
        margin-left: -15px;
    }
</style>
<script language="JavaScript">
    function cartUpdateQuantity(id, newQuantity) {
        if (newQuantity < 1) return;
        const form = document.createElement('form');
        form.method = 'post';
        form.action = '@Url.Action("UpdateQuantity", "Cart");

        const idInput = document.createElement('input');
        idInput.type = 'hidden';
        idInput.name = 'id';
        idInput.value = id;
        form.appendChild(idInput);

        const quantityInput = document.createElement('input');
        quantityInput.type = 'hidden';
        quantityInput.name = 'quantity';
        quantityInput.value = newQuantity;
        form.appendChild(quantityInput);

        document.body.appendChild(form);
        form.submit();
    }
</script>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="~/Content/script/All-css.css" rel="stylesheet" />
    <title>
        IDK MAN
    </title>
</head>
<body>

    <div class="header-ads" style=" background-color: #EFFFF4; height:40px;padding-top:20px;">
        <a href="" style="text-decoration: none;">
            <div style="color: #00AB56; display: flex; justify-content: center; font-size: 12px; font-weight: 600; line-height: 150%; padding-left: 4px; gap:4px;">
                Freeship đơn từ 45k, giảm nhiều hơn cùng
                <img style="width:79px; height:16px;" src="https://salt.tikicdn.com/ts/upload/a7/18/8c/910f3a83b017b7ced73e80c7ed4154b0.png" />
            </div>
        </a>
    </div>
    <header class="header">
        <div class="grid">
            <nav class="header__navbar">
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        <a href=""><img src="https://salt.tikicdn.com/ts/upload/0e/07/78/ee828743c9afa9792cf20d75995e134e.png" width="96" height="40"></a>
                        <br />
                        <a href="" class="header__navbar-link header__navbar-link--totnhanh">Tốt &amp; nhanh</a>
                    </li>
                </ul>
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <div class="header__search">
                        <i class="search-icon fas fa-search"></i>
                        @Html.TextBoxFor(m => m.SearchTerm, new
                   {
                       @class = "header__search-input",
                       placeholder = "30 ngày đổi trả"
                   })
                        <div class="search-submit">
                            <button class="search-submit--btn">Tìm kiếm</button>
                        </div>
                    </div>
                }
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        <a href="" class="header__navbar-link"><i class="header__navbar-icon fas fa-home"></i>Trang chủ</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="" class="header__navbar-link header__navbar-link--separate"><i class="header__navbar-icon far fa-smile"></i>Tài khoản</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="" class="header__navbar-link  header__navbar-link--shop"><i class="header__navbar-icon fas fa-shopping-cart"></i></a>
                    </li>
                </ul>
            </nav>
            <div class="quicksearch-address">
                <div class="searchoption">
                    <a href="" class="header__navbar-link header__navbar-linkqs">điện gia dụng</a>
                    <a href="" class="header__navbar-link header__navbar-linkqs">xe cộ</a>
                    <a href="" class="header__navbar-link header__navbar-linkqs">mẹ &amp; bé</a>
                    <a href="" class="header__navbar-link header__navbar-linkqs">khỏe đẹp</a>
                    <a href="" class="header__navbar-link header__navbar-linkqs">nhà cửa</a>
                    <a href="" class="header__navbar-link header__navbar-linkqs">sách</a>
                    <a href="" class="header__navbar-link header__navbar-linkqs">thể thao</a>
                    <a href="" class="header__navbar-link header__navbar-linkqs">điện thoại</a>
                    <a href="" class="header__navbar-link header__navbar-linkqs">ipad gen 10</a>
                    <a href="" class="header__navbar-link header__navbar-linkqs">samsung</a>
                </div>
                <div class="shipping-address ">
                    <a href="" class="header__navbar-link header__navbar-link--addr"><i class="header__navbar-icon fas fa-map-marker-alt"></i>Giao đến:</a>
                    <a href="~/ShipipingAddress/ShippingAddress" class="address-display">
                        Q. 1, P. Bến Nghé, Hồ Chí Minh
                    </a>
                </div>
            </div>
            <div>
                <a href="" class="header-policy" style="text-decoration:none;">
                    <div class="header__navbar-link header__navbar-link--totnhanh" style="padding-top:1px;">
                        Cam kết
                    </div>
                    <div>
                        <div class="address-display address-display--policy" style="border-left:none;">
                            <img style="width:20px; height:20px;" src="https://salt.tikicdn.com/ts/upload/96/76/a3/16324a16c76ee4f507d5777608dab831.png" />
                            <span style="padding-top:4px;">100% hàng thật</span>
                        </div>
                        <div class="address-display address-display--policy">
                            <img style="width:20px; height:20px;" src="https://salt.tikicdn.com/ts/upload/0b/f2/19/c03ae8f46956eca66845fb9aaadeca1e.png" />
                            <span style="padding-top:4px;">Hoàn 200% nếu hàng giả</span>
                        </div>
                        <div class="address-display address-display--policy">
                            <img style="width:20px; height:20px;" src="https://salt.tikicdn.com/ts/upload/3a/f4/7d/86ca29927e9b360dcec43dccb85d2061.png" />
                            <span style="padding-top:4px;">30 ngày đổi trả</span>
                        </div>
                        <div class="address-display address-display--policy">
                            <img style="width:20px; height:20px;" src="https://salt.tikicdn.com/ts/upload/87/98/77/fc33e3d472fc4ce4bae8c835784b707a.png" />
                            <span style="padding-top:4px;">Giao nhanh 2h</span>
                        </div>
                        <div class="address-display address-display--policy">
                            <img style="width:20px; height:20px;" src="https://salt.tikicdn.com/ts/upload/6a/81/06/0675ef5512c275a594d5ec1d58c37861.png" />
                            <span style="padding-top:4px;">Giá siêu rẻ</span>
                        </div>
                        <div class="address-display address-display--policy">
                            <img style="width:20px; height:20px;" src="https://salt.tikicdn.com/ts/upload/11/09/ec/456a2a8c308c2de089a34bbfef1c757b.png" />
                            <span style="padding-top:4px;">Free ship mọi nơi</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </header>

    <div class="grid">
        <div class="grid__row">
            <div class="grid_column-7">
                @if (!Model.Items.Any())
                {<p>Bạn chưa có sản phẩm nào trong giỏ</p> }
                else
                {
                    <div class="product-preview">
                        <div class="grid__row" style="padding:0 0">
                            <input style="margin-left:5px;" type="checkbox" />
                            <span class="grid_column-5">Tất cả</span>
                            <span class="grid_column-3">Đơn giá</span>
                            <span class="grid_column-2">Số lượng</span>
                            <span class="grid_column-2">Thành tiền</span>
                            <a href="@Url.Action("ClearCart", "Cart", null)"><img style="margin-right:10px;" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/trash.svg" class="remove-all" alt="deleted"></a>
                        </div>
                    </div>
                    <div class="product-preview">
                        @foreach (var item in Model.Items)
                        {
                            <div class="grid__row" style="padding:0 0">
                                <input style="margin-left: 5px;" type="checkbox" />
                                <div class="grid_column-5" style="display:flex">
                                    <img width="80" src="@item.ProductImage" />
                                    <div>
                                        @item.ProductName
                                    </div>
                                </div>
                                <span class="grid_column-3">@item.UnitPrice.ToString("N0")<sup>₫</sup></span>
                                <div class="grid_column-2">
                                    @using (Html.BeginForm("UpdateQuantity", "Cart", FormMethod.Post))
                                    {
                                        <input type="hidden" name="id" value="@item.ProductID" />
                                        <button type="button" style="width:20px;" onclick="cartUpdateQuantity(@item.ProductID, @item.Quantity - 1)">-</button>
                                        <input type="number" name="quantity" value="@item.Quantity" min="1" max="100" style="width:40px; text-align:right" readonly />
                                        <button type="button" style="width:20px;" onclick="cartUpdateQuantity(@item.ProductID, @item.Quantity + 1)">+</button>
                                    }
                                </div>
                                <span class="grid_column-2">@item.TotalPrice.ToString("N0")<sup>₫</sup></span>
                                <a href="@Url.Action("RemoveFromCart", "Cart", null)"><img style="margin-right:10px;" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/trash.svg" class="remove-all" alt="deleted"></a>
                            </div>
                        }
                    </div>
                }
            </div>

            <div class="grid_column-3">
                <div class="product-preview">
                    <div>
                        <span style="border-left:1px solid; padding-left:5px; border-color:lightgray">Tổng tiền hàng: &nbsp;</span>
                        <span style="color:red">@Model.TotalValue().ToString("N0")<sup>₫</sup></span>
                    </div>
                    <hr />
                    <h3 class="category__heading category__heading-detail">Tổng tiền thanh toán</h3>
                    <div>
                        <span style="color:red">@Model.TotalValue().ToString("N0")<sup>₫</sup></span>
                    </div>
                    <div>
                        @Html.ActionLink("Mua hàng", "Checkout", "Order", new {}, new
                   {
                       @class = "btn btn-danger cart-btn"
                   })
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>
