@model _23DH112330_MyStore.Models.ViewModel.HomeProductVM
@using PagedList.Mvc
@{
    ViewBag.Title = "Customer Home Page";
    <link href="~/Content/PagedList1.css" rel="stylesheet" />
    <link href="~/Content/sanphamcss/main.css" rel="stylesheet" />
    <link href="~/Content/sanphamcss/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
}
<style>
    a {
        text-decoration: none;
    }
</style>
@if (Model.FeaturedProducts != null && Model.NewProducts.Any())
{
    <div class="grid__row" style="flex-wrap:wrap">
        @foreach (var product in Model.NewProducts)
        {
            <div class="grid__column-33">
                <a href="@Url.Action("ProductDetail", "Home", new {id = product.ProductID})">
                    <div class="home-product-item">
                        <div class="home-product-item__img"><img style="width:336px;border-radius:10px;" src="@Html.DisplayFor(modelItem => product.ProductImage)"></div>
                        <h4 class="home-product-item__title">@Html.DisplayFor(modelItem => product.ProductName)</h4>
                        <div class="home-product-item__price">
                            <span class="home-product-item__price-current">@Html.DisplayFor(modelItem => product.ProductPrice)<sup>₫</sup></span>
                            <span style="color: gray; font-size: 200%">Đã bán:&nbsp;@Html.DisplayFor(modelItem => product.Sold)</span>
                        </div>
                        <div class="home-product-item__addcart">
                            <span>Thêm giỏ hàng</span>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

    <div class="page-product">
        @Html.PagedListPager(Model.NewProducts, page => Url.Action("ProductList", new
    {
        page,
        searchTerm = Model.SearchTerm,
    }))
    </div>
}
else
{
    <p>Không tìm thấy sản phẩm nào phù hợp</p>
}