@model _23DH112330_MyStore.Models.ViewModel.ProductDetailVM
@{
    Layout = User.Identity.IsAuthenticated ? "~/Views/Shared/_CustomerLayoutLoggedIn.cshtml" : "~/Views/Shared/_CustomerLayout.cshtml";
}
<style>

    html {
        font-family: 'Roboto', sans-serif;
        background-color: #F1F0EC;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/Content/sanphamcss/main - Copy - Copy (2).css" rel="stylesheet" />
    <link href="~/Content/sanphamcss/base.css" rel="stylesheet" />
    <link href="~/Content/chitietscss/main - Copy.css" rel="stylesheet" />
    <link href="~/Content/chitietscss/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="app">
        <div class="bottom__header">
            <div class="bottom__header-div">
                <ul class="bottom__header-list">
                    <li class="bottom__header-item">
                        <a href="" class="bottom__header-item-home-link">Trang chủ > &nbsp;</a>
                    </li>
                    <li class="bottom__header-item-">
                        <a href="#" class="bottom__header-item-listproduct-link">Danh sách sản phẩm</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__colum-6">
                    <div class="detail__product-img"><img style="width:670px;border-radius: 10px;margin-top: 20px;" src="@Html.DisplayFor(model => model.product.ProductImage)"></div>
                </div>
                <div class="grid__column-4">
                    <div class="detail__product-general">
                        <div class="detail__product-general-title">
                            <span>@Html.DisplayFor(model => model.product.ProductName)</span>
                        </div>
                        <div class="detail__product-general-rating">
                            <i class="fas fa-star" style="color: rgb(255, 196, 0); transform: scale(0.6);height:10px;width:10px;"></i>
                            <i class="fas fa-star" style="color: rgb(255, 196, 0); transform: scale(0.6);height:10px;width:10px;"></i>
                            <i class="fas fa-star" style="color: rgb(255, 196, 0); transform: scale(0.6);height:10px;width:10px;"></i>
                            <i class="fas fa-star" style="color: rgb(255, 196, 0); transform: scale(0.6);height:10px;width:10px;"></i>
                            <i class="fas fa-star" style="color: rgb(255, 196, 0); transform: scale(0.6);height:10px;width:10px;"></i>
                        </div>
                        <div class="detail__product-general-price">
                            <span class="detail__product-general-price-current">@Html.DisplayFor(model => model.product.ProductPrice)<sup>₫</sup></span>
                        </div>
                        <div class="detail__product-general-list" style="margin-bottom:0">
                            <h3>Danh mục: &nbsp;@Html.DisplayFor(model => model.product.Category.CategoryName)</h3>
                        </div>
                        <div class="detail__product-general-quantity" style="border:none;">
                            @using (Html.BeginForm("ProductDetail", "Home", FormMethod.Get))
                            {

                                <h3 class="category__heading category__heading-detail" style="margin:0">Số lượng</h3>
                                <p>
                                    @Html.TextBoxFor(model => model.quantity, new
                               {
                                   @class = "form-control",
                                   @type = "number",
                                   @min = 1,
                                   @onchange = "this.form.submit();" // Tự động submit form khi thay đổi số lượng

                               })
                                </p>
                                <h3 class="category__heading category__heading-detail" style="margin:0">Tạm tính</h3>
                                <p>
                                    <span id="temporary-total">
                                        @Model.estimate.ToString("N0") <!-- Hiển thị giá tạm tính -->
                                    </span><sup>₫</sup>
                                </p>
                                <div>
                                    @Html.ActionLink("Thêm vào giỏ", "AddToCart", "Cart", new
                               {
                                   id = Model.product.ProductID,
                                        quantity = Model.quantity
                                    }, new
                                   {
                                       @class = "detail__product-general-addcart",
                                        @style = "margin:0; text-decoration:none;"
                                   })
                                </div>
                            }
                        </div>
                    </div>
                    <div class="detail__product-general-policy" style="margin-top:28px;">
                        <div class="detail__product-policy">
                            <span>Chính sách bán hàng:</span>
                        </div>
                        <div class="detail__product-item-icon-delivery">
                            <i class="fa-solid fa-truck"></i>
                            <span>Freeship Đơn Từ 200.000đ</span>
                        </div>
                        <div class="detail__product-item-icon-exchange">
                            <i class="fa-brands fa-dropbox"></i>
                            <span>Đổi Trả Trong 30 Ngày</span>
                        </div>
                        <div class="detail__product-item-icon-check">
                            <i class="fa-brands fa-searchengin"></i>
                            <span>Đồng Kiểm Khi Nhận Hàng</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detail__product-prominent" style="width: 93%; margin-left: -12px; padding: 25px; margin-bottom: 40px; ">
                <p>Đặc điểm nổi bật</p>
                <span>
                    @Html.DisplayFor(model => model.product.ProductDescription)
                </span>
            </div>
            <div class="body5">
                <div class="body5_top" style="width:91%">
                    <div class="text-center">
                        <span>Sản phẩm liên quan</span>
                    </div>
                    <div class="icon-leaf-center">
                        <img nh-lazy="image" class="img-fluid" alt="Lợi Ích Bất Ngờ Khi Sử Dụng Dầu Gội Thảo Dược" src="https://cdn2491.cdn-template-4s.com/media/san-pham/cauchuyenthaomoc/icon_layout.png" style="margin-left:15px;">
                        <img nh-lazy="image" class="img-fluid" alt="Lợi Ích Bất Ngờ Khi Sử Dụng Dầu Gội Thảo Dược" src="https://cdn2491.cdn-template-4s.com/media/san-pham/cauchuyenthaomoc/icon_layout.png" style="margin-left:15px;">
                        <img nh-lazy="image" class="img-fluid" alt="Lợi Ích Bất Ngờ Khi Sử Dụng Dầu Gội Thảo Dược" src="https://cdn2491.cdn-template-4s.com/media/san-pham/cauchuyenthaomoc/icon_layout.png" style="margin-left:15px;">
                    </div>

                </div>
                <div class="body5_product">
                    @Html.Partial("PartialViewRelatedProduct", Model)

                </div>
            </div>
        </div>
        </div>
</body>
</html>


